/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@import url("~leaflet/dist/leaflet.css");


.leaflet-container {
    width: 100%;
    height: 100%;
    cursor: initial;
}

.menu_item:hover {
    background: blue;
    cursor: pointer;
    color: white;
}

tr.menu_header td {
    background: lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

tr.border-bottom td {
    
}



