<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackSender.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrackSender.App>
            <setting name="ServerAddress" serializeAs="String">
                <value>http://leafletalarmsservice:8000/</value>
            </setting>
            <setting name="LocalPathPolygonMoscow" serializeAs="String">
                <value>D:\TESTS\Leaflet\TrackSender\PolygonJson\</value>
            </setting>
            <setting name="LocalPathMkad" serializeAs="String">
                <value>D:\TESTS\Leaflet\TrackSender\MKAD\</value>
            </setting>
        </TrackSender.App>
    </userSettings>
</configuration>